/* Global Styles */

main {
	--uno-apply: "flex flex-col justify-center justify-items-center max-w-[100vw] p-4 md:p-24";
}

.screen-title-holder {
	--uno-apply: "flex justify-center pb-8";
}

.screen-title {
	--uno-apply: "text-4xl font-bold text-primary";
}

.sl-card {
	--uno-apply: "drop-shadow-2xl mb-4";
}

.header-sl-card {
	--uno-apply: "drop-shadow-2xl mb-8";
}

.header-card-content {
	--uno-apply: "flex flex-row content-center items-center md:px-24 gap-8 md:gap-14";
}

.header-card-content sl-avatar {
	--size: 4rem;
    --uno-apply: "flex-none";
}

.header-card-content div {
    --uno-apply: "text-lg grow text-secondary font-bold";
}

.card-content {
	--uno-apply: "flex flex-row content-center items-center p-4 md:px-24 gap-8";
}

.card-content sl-avatar {
    --uno-apply: "flex-none";
}

.card-content div {
    --uno-apply: "text-lg grow text-secondary font-bold";
}

sl-avatar {
	--size: 5rem;
}