/* Global Styles */

main {
	--uno-apply: "flex flex-col justify-center justify-items-center max-w-[100vw] p-4 lg:p-12 bg-base-100";
}

.screen-title-holder {
	--uno-apply: "flex flex-col justify-center justify-items-center";
	align-items: center;
}

.screen-title {
	--uno-apply: "text-xl md:text-4xl font-bold text-primary";
}

.last-check {
	--uno-apply: "text-gray-400 text-sm pt-2 font-italic";
}

.last-check sl-relative-time {
	--uno-apply: "font-bold";
}

.screen-title-buttons {
	--uno-apply: "flex w-full lg:flex-row lg:px-8rem pt-2 gap-4";
}

.sl-card-header {
	--uno-apply: "drop-shadow-2xl w-full md:w-[80vw] lg:w-full content-center items-center justify-center ";
	align-self: center;
}

.sl-card {
	--uno-apply: "drop-shadow-2xl mb-8 w-full md:w-[80vw] lg:w-full content-center items-center justify-center ";
	align-self: center;
}

.card-content {
	--uno-apply: "flex flex-col lg:flex-row content-center items-center justify-center p-4 lg:px-24 lg:gap-8 lg:gap-14 lg:w-full";
}

.card-content sl-avatar {
    --uno-apply: "flex-none drop-shadow-xl";
}

.card-content div {
	--uno-apply: "text-lg flex flex-col content-center justify-center items-center w-full";
}

.card-content .name {
	--uno-apply: "text-secondary";
}

.card-content .languages {
	--uno-apply: "text-accent";
}

.card-content .machine {
	--uno-apply: "text-secondary";
}

.card-content .level {
	--uno-apply: "text-accent";
}

.card-content .rank {
	--uno-apply: "text-secondary";
}

.card-content .header {
	--uno-apply: "text-xl font-bold flex justify-center w-full drop-shadow-xl";
}

.card-content .no-user-data {
	--uno-apply: "text-primary text-4xl font-bold";
}

.card-content profilelink {
	position: absolute;
	right: 2rem;
	top: 50%;
	vertical-align: middle;
} 
.card-content profilelink sl-tooltip, 
.card-content profilelink sl-tooltip a {
	vertical-align: middle;
}

@media screen and (max-width: 1024px) {
	.card-content .rank .ranklabel {
		--uno-apply: "text-lg shrink px-0";
	}
	.card-content .rank .rankvalue {
		--uno-apply: "shrink px-0";
	}
	.card-content .rank .levelnumber {
		--uno-apply: "text-lg shrink px-0";
	}
	.card-content .rank .levelprogress {
		--uno-apply: "shrink px-0";
	}
	.card-content .rank {
		--uno-apply: "text-lg flex flex-row justify-center content-center items-center px-0 gap-2 w-fit";
	}
}

@media screen and (min-width: 768px) {
	.card-content .ranklabel {
		--uno-apply: "hidden";
	}
}

sl-avatar {
	--size: 5rem;
}

.progressbar {
	--height: 24px;
}

.progressbar::part(label) {
	font-weight: bolder;
	font-size: 1rem;
	text-align: center;
}

.updatecache-form {
	position: relative;
	padding-left: 2rem;
}