---
import Layout from '../layouts/Layout.astro';
import { TitleElement, HeaderCard, UserCard } from '../components/index-components';
import { Description, Title } from '../consts';
import { getCodeStatsDataCache } from '../utils/codeStatsTools/getCodeStatsDataCache';
import { dbTools } from '../utils/miscTools/databaseTools';

// Get the last time the code::stats data was checked
const lastdate = await dbTools().SiteData().get();

const lastCodeStatsFallback = lastdate?.lastCodeStatsCheck || new Date("2022-10-13");

let currentDate = new Date();

// Get the code::stats data from the cache or fetch new data if the cache is stale
const codeStatsDataCache = await getCodeStatsDataCache(lastCodeStatsFallback, currentDate);
---

<Layout title={Title} description={Description}>
	<main class="main">
		
		<TitleElement lastCodeStatsCheck={lastCodeStatsFallback} /> 

		<HeaderCard />

		<divider class="divider" />

		<UserCard {codeStatsDataCache} />

	</main>
</Layout>