---
import Layout from '../layouts/Layout.astro';
import { TitleElement, HeaderCard, UserCard } from '../components/index-components';
import { getCodeStatsDataCache, getSiteData } from '../utils';
import { Divider } from 'astrolace:components';

// Get the last time the code::stats data was checked
const { lastCodeStatsCheck } = await getSiteData();

// Get the code::stats data from the cache or fetch new data if the cache is stale
const codeStatsDataCache = await getCodeStatsDataCache(lastCodeStatsCheck,new Date());
---

<Layout 
	title="Astro Community Code::Stats Leaderboard" 
	description='A Community Leaderboard for the Astro Community that uses code::stats data to rank members of the community based on how much they code! (This is 100% for fun!)'
	>
	<main>
		
		<TitleElement {lastCodeStatsCheck} /> 

		<HeaderCard />

		<Divider class:list={"divider"}/>

		<UserCard {codeStatsDataCache} />

	</main>
</Layout>
