---
import { TitleElement, HeaderCard, UserCard } from '../components/index-components';
import Layout from '../layouts/Layout.astro';
import { getCodeStatsDataCache } from '../utils';

const codeStatsDataCache = await getCodeStatsDataCache(new Date());
---

<Layout title="Astro Community Code::Stats Leaderboard">
	<main>
		
		<TitleElement />

		<HeaderCard />

		<UserCard {codeStatsDataCache} />

	</main>
</Layout>
