---
import Layout from '@layouts/Layout.astro';
import { TitleElement, HeaderCard, UserCard } from '@components/index-components';
import { getCodeStatsDataCache } from '@utils/index';

const codeStatsDataCache = await getCodeStatsDataCache(new Date());
---

<Layout title="Astro Community Code::Stats Leaderboard">
	<main>
		
		<TitleElement />

		<HeaderCard />

		<UserCard {codeStatsDataCache} />

	</main>
</Layout>
