---
import Layout from '../layouts/Layout.astro';
import { TitleElement, HeaderCard, UserCard } from '../components/index-components';
import { dbTools, getCodeStatsDataCache } from '../utils';
import { Description, Title } from '../consts';

// Get the last time the code::stats data was checked
const { lastCodeStatsCheck } = await dbTools().SiteData().get();

let currentDate = new Date();

// Get the code::stats data from the cache or fetch new data if the cache is stale
const codeStatsDataCache = await getCodeStatsDataCache(lastCodeStatsCheck, currentDate);
---

<Layout title={Title} description={Description}>
	<main>
		
		<TitleElement {lastCodeStatsCheck} /> 

		<HeaderCard />

		<div class="divider"></div>

		<UserCard {codeStatsDataCache} />

	</main>
</Layout>
