---
import { Avatar, Card } from "astrolace:components";

---
<Card class="sl-card">
    <div class="card-content">
        <Avatar image="" initials="EX" label="Example Avatar for Leaderboard"/>
        <div class="name header">Display Name</div>
        <div class="languages header">Top Languages</div>
        <div class="machine header">Top Machine</div>
        <div class="level header">Level (Total XP)</div>
        <div class="rank header">Rank</div>
    </div>
</Card>
