---
import { Button, Icon } from "astrolace:components";

---
<div>
    <Button variant="primary" size="small" href="/livefeed.json" target="_blank" >
        <Icon slot="prefix" name="box-arrow-up-right" />
        Live Feed
    </Button>
</div>