---
import { GravatarDefaultImage } from '../consts';
import type { ReturnCodeStatsUserList } from '../types';
import { XPCalculator } from '../utils';

interface Props {
    lastCodeStatsCheck: Date;
    codeStatsDataCache: ReturnCodeStatsUserList[];
}

const { codeStatsDataCache, lastCodeStatsCheck } = Astro.props;
---

<div style="display: flex; flex-direction: column; justify-items: center; align-items: center; background-color: #1a103d; font-family: Inter; height: 100%;">

    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
        <h1 style="font-size: 4rem; line-height: 4rem; color: #e779c1; text-shadow: 4px 4px 10px black;">
            Astro Community 
            <span style="color: goldenrod; padding-right: 1rem; padding-left: 1rem;"> 
                Code::Stats 
            </span> 
            Leaderboard 
        </h1>
        <span style="color: #737373; font-size: 1.25rem; line-height: 1.75rem; padding-bottom: 0;">
            Last updated: { 
                lastCodeStatsCheck.toLocaleDateString("en-US", { 
                    minute: "numeric", 
                    hour: "numeric", 
                    day: "numeric", 
                    month: "long", 
                    year: "numeric", 
                    timeZone: "UTC" 
                    })} 
            UTC
        </span>
    </div>

    <div style="display: flex; flex-direction: row; justify-items: center; align-items: center; padding-top: 0; padding-bottom: 0;">
        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-right: 1rem;">
            <h2 style="font-size: 4rem; line-height: 5rem; color: #e779c1; text-shadow: 4px 4px 10px black;">
                Top 3 Users
            </h2>
            <div style="display: flex; flex-direction: row; justify-items: center; align-items: center; padding-top: 1rem; gap: 2rem; width: 75vw;">
                {codeStatsDataCache.slice(0, 1).map(({ 
                    displayName, gravatarURL, topLanguages, topMachine, totalXP }, index
                ) => (
                    
                    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #1f1226; border-color: #e3a520; border-width: 3px; padding: 1rem; width: 75vw; box-shadow: 1px 1px 20px black;">


                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-right: 1rem;">
                            <img 
                                src={ gravatarURL || GravatarDefaultImage } 
                                style="width: 5rem; height: 5rem; border-radius: 50%; box-shadow: 3px 3px 10px black;" 
                                />
                        </div>

                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
                            <span style="color: #e779c1; font-size: 4rem; line-height: 5rem; text-shadow: 4px 4px 10px black;">
                                {index + 1}. {displayName}
                            </span>
                            <span style="color: #e8b500; font-size: 2rem; line-height: 3rem;">
                                Level { XPCalculator.getLevel(totalXP) } { totalXP > 1 && `(${ totalXP } XP)` }
                            </span>
                        </div>

                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0;">
                            <span style="color: #00a8e0; font-size: 1.25rem; line-height: 1.75rem;">
                                { // @ts-ignore
                                    topLanguages.first ? (
                                        // @ts-ignore
                                        "#1 " + topLanguages.first.name + " (Level: " + XPCalculator.getLevel(topLanguages.first.xps) + ")"
                                    ) : "No Data" }
                            </span>
                            <span style="color: #00a8e0; font-size: 1.25rem; line-height: 1.75rem;">
                                { // @ts-ignore
                                    topLanguages.second && (
                                        // @ts-ignore
                                        "#2 " + topLanguages.second.name + " (Level: " + XPCalculator.getLevel(topLanguages.second.xps) + ")"
                                    ) }
                            </span>
                            <span style="color: #00a8e0; font-size: 1.25rem; line-height: 1.75rem;">
                                { // @ts-ignore
                                    topLanguages.third && (
                                        // @ts-ignore 
                                        "#3 " + topLanguages.third.name + " (Level: " + XPCalculator.getLevel(topLanguages.third.xps) + ")"
                                    ) }
                            </span>
                        </div>

                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0;">

                            <span style="color: #e0b700; font-size: 1.25rem; line-height: 1.75rem;">
                                { 
                                    topMachine && (
                                        "Top Machine: " + topMachine.replace(/[''“”]/g, '')
                                    ) }
                            </span>

                        </div>


                    </div>

                ))}
            </div>
            <div style="display: flex; flex-direction: row; justify-items: center; align-items: center; padding-top: 3rem; gap: 2rem; width: 75vw;">
                {codeStatsDataCache.slice(1, 3).map(({ 
                    displayName, gravatarURL, topLanguages, topMachine, totalXP }, index
                ) => (
                    
                    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #151226; border-color: #1d2f52; border-width: 3px; padding: 1rem; width: 49%; height: 100%; align-content: center; box-shadow: 1px 1px 20px black;">


                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-right: 1rem;">
                            <img 
                                src={ gravatarURL || GravatarDefaultImage } 
                                style="width: 5rem; height: 5rem; border-radius: 50%; box-shadow: 3px 3px 10px black;" 
                                />
                        </div>

                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
                            <span style="color: #e779c1; font-size: 4rem; line-height: 5rem; text-shadow: 4px 4px 10px black;">
                                {index + 2}. {displayName}
                            </span>
                            <span style="color: #e8b500; font-size: 1.75rem; line-height: 2rem;">
                                Level { XPCalculator.getLevel(totalXP) } { totalXP > 1 && `(${ totalXP } XP)` }
                            </span>
                        </div>

                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0;">
                            <span style="color: #00a8e0; font-size: 1.25rem; line-height: 1.75rem;">
                                { // @ts-ignore
                                    topLanguages.first ? (
                                        // @ts-ignore
                                        "#1 " + topLanguages.first.name + " (Level: " + XPCalculator.getLevel(topLanguages.first.xps) + ")"
                                    ) : "No Data" }
                            </span>
                            <span style="color: #00a8e0; font-size: 1.25rem; line-height: 1.75rem;">
                                { // @ts-ignore
                                    topLanguages.second && (
                                        // @ts-ignore
                                        "#2 " + topLanguages.second.name + " (Level: " + XPCalculator.getLevel(topLanguages.second.xps) + ")"
                                    ) }
                            </span>
                            <span style="color: #00a8e0; font-size: 1.25rem; line-height: 1.75rem;">
                                { // @ts-ignore
                                    topLanguages.third && (
                                        // @ts-ignore 
                                        "#3 " + topLanguages.third.name + " (Level: " + XPCalculator.getLevel(topLanguages.third.xps) + ")"
                                    ) }
                            </span>
                        </div>

                        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0;">

                            <span style="color: #e0b700; font-size: 1.25rem; line-height: 1.75rem;">
                                { 
                                    topMachine && (
                                        "Top Machine: " + topMachine.replace(/[''“”]/g, '')
                                    ) }
                            </span>

                        </div>

                    </div>

                ))}
            </div>
        </div>

</div>