---
import UpdateCacheButton from "./UpdateCacheButton.astro";
import { RelativeTime } from "astrolace:components";
import NewUser from "./NewUser.astro";
import LiveFeedBtn from "./LiveFeedBtn.astro";

interface Props {
    lastCodeStatsCheck: Date;
}

const { lastCodeStatsCheck } = Astro.props;

---
<div screen-title-holder>
    <h1 screen-title>
        Astro Community <span text-accent>Code::Stats</span> Leaderboard 
    </h1>
    <div code-check>
        Last Updated: <RelativeTime class:list={"sl-relative-time"} date={lastCodeStatsCheck.toISOString()} sync />
    </div>
    <div screen-title-buttons>
        <UpdateCacheButton /> 
        <LiveFeedBtn /> 
        <divider class="divider divider-horizontal menu-divider"></divider>
        <NewUser />
    </div>
    <divider class="divider"></divider>
</div>