---
import UpdateCacheButton from "./UpdateCacheButton.astro";
import { Divider, RelativeTime } from "astrolace:components";
import NewUser from "./NewUser.astro";

interface Props {
    lastCodeStatsCheck: Date;
}

const { lastCodeStatsCheck } = Astro.props;

---
<div class="screen-title-holder">
    <h1 class="screen-title">
        Astro Community <span class="text-accent">Code::Stats</span> Leaderboard 
    </h1>
    <div class="last-check">
        Last Updated: <RelativeTime date={lastCodeStatsCheck.toISOString()} sync />
    </div>
    <div class="screen-title-buttons">
        <UpdateCacheButton /> <NewUser />
    </div>
    <Divider class:list={"divider"}/>
</div>