---
import { Code } from "astro:components";

---
<div class="screen-title-holder">
    <h1 class="screen-title">
        Astro Community <Code code={`Code::Stats`} inline={true} /> Leaderboard
    </h1>
</div>