---
import { XPCalculator } from '../utils/codeStatsTools';
import type { ReturnCodeStatsUserList } from '../types'

type Props = {
    topLanguages: ReturnCodeStatsUserList['topLanguages']|null
}

const { topLanguages } = Astro.props;
---
{ // @ts-expect-error: topLanguages is an unknown `Object` Type
    topLanguages.first && (
    <div languages>
        1. { // @ts-expect-error: topLanguages is an unknown `Object` Type 
            topLanguages.first.name + " (Level: " + XPCalculator.getLevel(topLanguages.first.xps) + ")"
        }
    </div>
)}
{ // @ts-expect-error: topLanguages is an unknown `Object` Type
    topLanguages.second && (
    <div languages>
        2. { // @ts-expect-error: topLanguages is an unknown `Object` Type
            topLanguages.second.name + " (Level: " + XPCalculator.getLevel(topLanguages.second.xps) + ")" 
        }
    </div>
)}
{ // @ts-expect-error: topLanguages is an unknown `Object` Type
    topLanguages.third && (
    <div languages>
        3. { // @ts-expect-error: topLanguages is an unknown `Object` Type
            topLanguages.third.name + " (Level: " + XPCalculator.getLevel(topLanguages.third.xps) + ")" 
        }
    </div>
)}