---
import { XPCalculator } from '../utils/codeStatsTools';
import type { ReturnCodeStatsUserList } from '../types'

type Props = {
    topLanguages: ReturnCodeStatsUserList['topLanguages']|null
}

const { topLanguages } = Astro.props;
---
{
    topLanguages.first && (
    <div class="languages">
        1. {
            topLanguages.first.name + " (Level: " + XPCalculator.getLevel(topLanguages.first.xps) + ")"
        }
    </div>
)}
{
    topLanguages.second && (
    <div class="languages">
        2. { 
            topLanguages.second.name + " (Level: " + XPCalculator.getLevel(topLanguages.second.xps) + ")" 
        }
    </div>
)}
{
    topLanguages.third && (
    <div class="languages">
        3. { 
            topLanguages.third.name + " (Level: " + XPCalculator.getLevel(topLanguages.third.xps) + ")" 
        }
    </div>
)}