---
import { Avatar, Card, Tooltip } from 'astrolace:components';
import type { ReturnCodeStatsUserList } from '../types';
import TopLanguages from './TopLanguages.astro';
import LevelAndProgress from './LevelAndProgress.astro';
import UserRank from './UserRank.astro';
import { CodeStatsProfileURL, GravatarDefaultImage } from '../consts';

interface Props {
    codeStatsDataCache: ReturnCodeStatsUserList[];
}

const { codeStatsDataCache } = Astro.props;
---
{
    codeStatsDataCache.length === 0 && (
        <Card class="sl-card">
            <div card-content>
                <div no-user-data>
                    No User Data Found.
                </div>
            </div>
        </Card>
    )
}

{ 
    codeStatsDataCache.length !== 0 && codeStatsDataCache.map((
        { displayName, gravatarURL, totalXP, topMachine, topLanguages, codestatsUsername }, index
    ) => (
        <Card class="sl-card">
            <div card-content>

                <Avatar class:list={"sl-avatar"} image={ gravatarURL || GravatarDefaultImage } label={ displayName + "'s Gravatar Image" } />

                <div card-content-div name>
                    { displayName }
                </div>

                <div card-content-div>
                    <TopLanguages {topLanguages} />
                </div>

                <div card-content-div machine>
                    { topMachine }
                </div>

                <div card-content-div level>
                    <LevelAndProgress {totalXP} />
                </div>

                <div card-content-div class="rank">
                    <UserRank {index} />
                </div>

                <profilelink>
                    <Tooltip>
                        <i slot="content">View <b>{displayName}</b>'s Code::Stats Profile</i>
                        <a href={CodeStatsProfileURL+codestatsUsername} target="_blank" rel="noopener noreferrer">
                            <div class="text-primary i-mdi:person-arrow-right w-32px h-32px">Profile</div>
                        </a>
                    </Tooltip>
                </profilelink>

            </div>
        </Card>
    ))
}

<style scoped>
    sl-avatar {
        --size: 5rem;
    }
    </style>