---
import { Avatar, Card } from 'astrolace:components';
import type { ReturnCodeStatsUserList } from '../types';
import { getLevel } from '@utils/index';

interface Props {
    codeStatsDataCache: ReturnCodeStatsUserList[];
}

const { codeStatsDataCache } = Astro.props;
---
{
    codeStatsDataCache.map((
        { displayName, gravatarURL, totalXP, topMachine, topLanguages }, index
    ) => (
        <Card class="sl-card">
            <div class="card-content">

                <Avatar 
                    image={ gravatarURL || "" } 
                    label={ displayName + "'s Gravatar Image" } 
                    />

                <div class="name">
                    { displayName }
                </div>

                <div>
                    { // @ts-expect-error: topLanguages is an `Object` Type
                        topLanguages.first && (
                        <div class="languages">
                            1. { // @ts-expect-error: topLanguages is an `Object` Type 
                                topLanguages.first 
                            }
                        </div>
                    )}
                    { // @ts-expect-error: topLanguages is an `Object` Type
                        topLanguages.second && (
                        <div class="languages">
                            2. { // @ts-expect-error: topLanguages is an `Object` Type
                                topLanguages.second 
                            }
                        </div>
                    )}
                    { // @ts-expect-error: topLanguages is an `Object` Type
                        topLanguages.third && (
                        <div class="languages">
                            3. { // @ts-expect-error: topLanguages is an `Object` Type
                                topLanguages.third 
                            }
                        </div>
                    )}
                </div>

                <div class="machine">
                    { topMachine }
                </div>

                <div class="level">
                    Level { getLevel(totalXP) }
                </div>

                <div class="rank">
                    <div class="ranklabel">
                        Rank:
                    </div>
                    <div class="rankvalue">
                        # { index + 1 }
                    </div>
                </div>

            </div>
        </Card>
    ))
}
