---
import { ShoelaceHeader } from 'astrolace:components/header';
import ThemeManager from '../components/ThemeManager.astro';
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const { title, description = title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ThemeManager />
		<ShoelaceHeader />
	</head>
	<body>
		<slot />
	</body>
</html>